@charset "utf-8";
.navbar-nav.mr-auto .nav-item.active .nav-link {
    font-weight: 700;
    color: #2D2020;
}







.card-body .container .card-text.text-center {
    text-decoration: line-through;
}
.card.col-md-4.col-lg-12 .card-body .container {
}
.card.col-md-4.col-lg-12 .card-body .container {
    text-decoration: line-through;
    text-align: center;
}
center h1 b {
    font-size: larger;
    font-style: oblique;
}
center h1 .rounded.img-fluid {
}
center h1 b {
    text-decoration: underline;
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(270deg,rgba(244,26,30,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(244,26,30,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(244,26,30,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(244,26,30,1.00) 0%,rgba(255,0,0,1.00) 100%);
}
.navbar-nav.mr-auto .nav-item.active .nav-link {
    color: #FFFFFF;
}
.container form .btn.btn-primary {
    background-color: #EF161A;
}

#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item {
    color: #FCFCFC;
}



.container-fluid .container footer {
    background-color: #6EC528;
    font-style: oblique;
    font-size: smaller;
    text-decoration: underline;
}
.card.col-md-4.col-lg-12 .card-body .btn.btn-primary {
}
.navbar-nav.mr-auto .nav-item .nav-link {
    color: #FCFCFC;
}
.card-body center .btn.btn-primary {
    background-color: #EF161A;
}
.container-fluid .container footer {
    background-color: #EF161A;
}


.card.col-md-4.col-lg-12 .card-body .btn.btn-primary {
    background-color: #EF161A;
    background-image: -webkit-linear-gradient(270deg,rgba(239,22,26,1.00) 0%,rgba(239,22,26,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(239,22,26,1.00) 0%,rgba(239,22,26,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(239,22,26,1.00) 0%,rgba(239,22,26,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(239,22,26,1.00) 0%,rgba(239,22,26,1.00) 100%);
}
.row .col-lg-3 img {
    background-color: #EF161A;
}
.btn.btn-primary .row .col-lg-3 {
    background-color: #EF161A;
}


.container .row .col-lg-3 {
    background-color: #E1E1E1;
}
.row .col-lg-3 p {
    font-size: large;
}
.card.col-md-4.col-lg-12 .card-body .btn.btn-primary {
}
